.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 150px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 15px 20px;
    font-size: 20px;

}
.nav-items > ul > li{
    margin: 10px;
    padding: 10px;

}
.res-card{
    width: 200px;
    height: 450px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(251, 235, 235);
    border: 1px solid rgb(229, 236, 138);


}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(218, 213, 213);

}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}
.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: antiquewhite;
    
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    
}
.shimmer-card{
    width: 200px;
    height: 400px;
    margin:20px;
    background-color: rgb(189, 185, 185);
}
.input-box{
    margin: 10px;
    padding: 10px;
    width: 250px;
}
.link-restraunt{
   
  text-decoration: none;
  color: black;

}